body {
  margin: 10%;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bgcolor {
  width: 800px;
  border-radius: 1em;
}

button {
  width: 100px;
}

p {
  font-size: 20px;
}